{% extends 'base.html.twig' %}

{% block title %}
	Messagerie
{% endblock %}

{% block body %}
	<section class="container">

		<div class="row">
			<div class="col-12">
				<h1>Messagerie
				</h1>

			 <h2> {{message.title}}</h2>
             <p> Message de {{message.sender.email }} </p>
             <p> Date d'envoie : {{message.createdAt | date     }}</p>
             
             <div> {{message.message }} </div> 
			 <div> {{message.file | raw }}</div>
				<a class="btn btn-primary mt-3 my-2 text-bold " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					Voir mes dossiers
				</a>
				<a href=" {{path('app_received')}} " class="btn btn-primary mt-3 my-2 text-bold ">Retour à la boite de réception
				</a>
			</div>
		</div>
	</section>

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers
			</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="list-group">
				<a class="list-group-item list-group-item-action " href=" {{path('app_messages')}} ">Accueil</a>
			</div>
			<div class="list-group">
				<a class="list-group-item list-group-item-action active" href=" {{path('app_received')}} ">Boite de réception</a>
			</div>
			<div class="list-group">
				<a class="list-group-item list-group-item-action " href=" {{path('app_messages')}} ">Messages envoyés
				</a>
			</div>
		</div>
	</div>
</div>{% endblock %}
